pipeline/pl_first_transformation.json
{
	"name": "pl_first_transformation",
	"properties": {
		"activities": [
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"dsp_folder": " "
						}
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "ls_AzureBlobStorage1",
							"type": "LinkedServiceReference"
						},
						"path": "log"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"wildcardFileName": " ",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Delete1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.plp_tag",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "flowfromLandingtoBronze_copy1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_dataflow1",
									"type": "DataFlowReference",
									"datasetParameters": {
										"source1": {
											"dsp_folder": {
												"value": "@item()",
												"type": "Expression"
											}
										},
										"sink1": {
											"dsp_folder": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"plp_tag": {
				"type": "array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-09T18:24:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}